body{
  background-color: #000;
  text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #A277E9;
  border-radius: 15px;
  /* background-color: rgba(230, 230, 230, 0.5); */
  font-size: 20px;
  font-weight: bold;
}

.title1 {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #A277E9;
}

.title2 {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: #A277E9;
  font-size: 30px;
  font-weight: bold;
}

.label {
  text-align: left;
  font-size: 22px;
  display: block;
  color: #A277E9;
  margin-bottom: 10px;
  margin-left: 10px;
}

.input {
  width: 90%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #61FFCA;
  border-radius: 20px;
  background-color: #000;
  color: #61FFCA;
  outline: none;
  margin-bottom: 10px;
}

.login-button {
  display: inline-block;
  width: 40%;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #A277E9;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}

.logout-button {
  display: inline-block;
  width: 40%;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #61FFCA;
  color:#000;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

.login-status {
  margin-top: 20px;
  color: #61FFCA;

}

.session-id {
  margin-top: 20px;
  font-style: italic;
  color: #61FFCA;

}
